<a href="https://colab.research.google.com/github/sanjanathammayya/Python-Workshop/blob/master/Pythonic_code_workshop_Day_3_session_1_Rules_for_Good_code_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program for prime number -bad code

In [1]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
if x ==i//2:
   print ("{} is a prime number".format(i))

The number 25 is not prime

#Good code using for... else

In [2]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
else:
    print ("{} is a prime number".format(i))

The number 25 is not prime

#Using Unpacking to Write Concise Code

In [3]:
a, b = 2, 'my-string'
print(a)
print(b)

2
my-string

#Bad unpacking

In [4]:
x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

1 2 4 8 16

#Excellent unpacking

In [5]:
a,b,c,d,e=x
print(a, b, c, d, e)

1 2 4 8 16

#unpacking some elements

In [6]:
a, *y, e = x
print(a)
print(y)
print(e)

1
[2, 4, 8]
16

#Using Chaining to Write Concise Code

In [7]:
x = 4
print(x >= 2 and x <= 8)

True

#Instead, you can write this in a more compact form, like mathematicians do:

In [8]:
print(2 <= x <= 8)
print(2 <= x <= 3)

True
False

#chained assignments

In [11]:
x = y = z = 2
x, y, z # when we use , it becomes tuple

(2, 2, 2)

#Checking against None

In [12]:
# normal way
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

#In pythonic way

In [13]:
x is None
print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

#Iterating over Sequences

In [14]:
x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

#But instead we can do like this in elegant way

In [15]:
for item in x:
  print(item)

1
2
4
8
16

#to iterate in the reversed order

In [16]:
for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

#Avoiding Mutable Optional Arguments

In [7]:
def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))
print(func(value=4))
print(func(value=6))
print(func(value=8))

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]

#keep away from that with some additional logic.

In [8]:
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=6))

[6]